<% include ../partials/header %>
<div class="container">
    <a class="btn" href="/admin">חזרה</a>
    <h4>הרשמת מנהל</h4>
    <form action="/admin/register" method="POST">
        <div class="field">
            <label for="">שם משתמש</label>
            <input type="text" name="admin[username]" placeholder="Administrator" minlength="8" autofocus required>
        </div>
        <div class="field">
            <label for="">סיסמה</label>
            <input type="password" name="admin[password]" placeholder="Password" minlength="8" required>
        </div>
        <h5>הרשאות</h5>
        <label class="radioLabel store">
            <input class="with-gap" name="permissions" type="radio" value=1 checked/>
            <span class="radioSpan">Office</span>
        </label>
        <label class="radioLabel store">
            <input class="with-gap" name="permissions" value=2 type="radio" />
            <span class="radioSpan">Lab</span>
        </label>
        <label class="radioLabel store">
            <input class="with-gap" name="permissions" value=9 type="radio" />
            <span class="radioSpan">Admin</span>
        </label>
        <label class="radioLabel store">
            <input class="with-gap" name="permissions" value=10 type="radio" />
            <span class="radioSpan">SuperAdmin</span>
        </label>
        <br>
        <button class="btn">שלח</button>
    </form>
</div>
<% include ../partials/footer %>