<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <title>Registration</title>
</head>
<body>
    <header>
        <nav class="navGrid">
            <div class="profile">
                <a href="/register" class="navItem">רישום מוצר</a>
                |
                <a href="/profile" class="navItem">המוצרים שלי</a>
            </div>
            <div class="brand">
                <a href="http://www.halilit.com" class="navItem">
                    <img class="logo" src="images/logo.png" alt="לוגו חלילית">
                </a> 
            </div>
        </nav>
    </header>
    
