<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Registration</title>
</head>
<body>
    <header>
        <nav class="navGrid">
            <div class="profile">
                <a class="btn" href="/register" class="navItem">רישום מוצר</a>  
            </div>
            <div class="brand">
                <a href="http://www.halilit.com" class="navItem">
                    <img class="logo" src="/images/logo.png" alt="לוגו חלילית">
                </a>
                
            </div>
            <% if(currentAdmin){ %>     
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                  <i class="large material-icons">menu</i>
                </a>
                <ul>
                  <li><a class="btn-floating red" href="/admin"><i class="material-icons">home</i></a><span class="adminMenu">חפש</span></li>
                  <li><a class="btn-floating blue" href="/register"><i class="material-icons">edit</i></a><span class="adminMenu">אחריות</span></li>
                  <li><a class="btn-floating green" href="/admin/lab/new"><i class="material-icons">note_add</i></a><span class="adminMenu">מעבדה</span></li>
                  <li><a class="btn-floating yellow darken-1" href="/logout"><i class="material-icons">sync_disabled</i></a><span class="adminMenu">התנתק</span></li>             
                </ul>
              </div>  
              <% } %>
        </nav>
    </header>
    
