<% include ./partials/header %>
<div class="container">
    <div class="form_container">
        
        <% if(msg.length > 1 ) { %>
        <div class="field">
            <h3 class="msg"><%= msg %></h3>
        </div>
        <% } %>
        <h2>רישום מוצר</h2>
        <form id="regForm" action="/register" method="POST">
            <div class="field">
                    <label for="">שם מלא:</label>
                    <input type="text" name="user[fullName]" placeholder="First name & Last Name" autofocus required>
            </div>
            <div class="field">
                <label for="">דוא"ל:</label>
                <input type="email" name="user[email]" placeholder="E-mail" required>
            </div>
            <div class="field">
                <label for="">טלפון:</label>
                <input type="tel" name="user[phone]" placeholder="Phone" minlength="9" required>
            </div>
            <div class="field">
                <label for="">חשבונית:</label>
                <input type="number" name="user[invoice]" placeholder="Invoice" required>
            </div>
            <div class="field">
                    <label for="">שם מוצר:</label>
                    <input type="text" name="user[productName]" placeholder="Product Name" required>
            </div>
            <div class="field">
                <label for="">מספר סידורי:</label>
                <input type="text" name="user[serial]"placeholder="Serial Number" required>
            </div>
            <!-- Store Selector -->
            <div class="field stores">
                <h5>החנות בה נרכש המוצר</h5>
                <label class="radioLabel store">
                    <input class="with-gap" name="store" value="אתר חלילית" type="radio" checked/>
                    <span class="radioSpan">אתר חלילית</span>
                </label>
                <label class="radioLabel store">    
                    <input class="with-gap" name="store" value="יפו" type="radio" dir="rtl">
                    <span class="radioSpan">סניף ראשי - יפו</span>
                </label>
                <label class="radioLabel store">
                    <input class="with-gap" name="store" value="האוזן השלישית" type="radio" />
                    <span class="radioSpan">האוזן השלישית - ת"א</span>
                </label>
                <label class="radioLabel store">
                    <input class="with-gap" name="store" value="רמת החייל" type="radio" />
                    <span class="radioSpan">רמת החייל - ת"א</span>
                </label>
                <label class="radioLabel store">
                    <input class="with-gap" name="store" value="יהוד" type="radio" />
                    <span class="radioSpan">יהוד</span>
                </label>
                <label id="otherStore" class="radioLabel">
                    <input class="with-gap" name="store" value="" type="radio" placeholder="חנות אחרת" />   
                    <span class="radioSpan">אחר</span>
                </label>
                <input id="otherStoreInput" name="store" value="" type="text" placeholder="חנות אחרת" />             
            </div>
            <!-- <label for="">העלאת חשבונית</label>
            <input type="file" id="fileInput" name="fileInput"> -->
            <div class="field">
                <label for="">הערות:</label>
                <textarea class="materialize-textarea" name="user[note]" id="userNote" cols="10" rows="5"></textarea>
            </div>  
            <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
            <input class="btn submit" type="submit" value="שלח">
        </form>
    </div>
</div>

<script src="/scripts/form.js"></script>
<% include ./partials/footer %>