:root{
    --primary-color: #212121 ;
    --info-color: #4682b4;
}
html, body{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    direction: rtl;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}
.navGrid{
    height: auto;
    background: var(--primary-color);
    padding: 0vh 10vw 0vh 10vw;
    display: grid;
    grid-template-areas: 'brand space profile';
    grid-template-columns: 2fr 6fr 2fr;
    grid-auto-rows: 10vh;
}
.navGrid img {
    grid-area: brand;
    height: 10vh;
}
.brand{
    grid-area: brand;
    margin: 0vh auto;
    width: 100%;
}

#regBTN{
    grid-area: profile;
    width: fit-content;
    position: relative;
    margin: auto 0vw auto 0vw;
}
.fixed-action-btn{
    right: unset !important;
    left: 24px !important;
    line-height: 40px;
}
.adminMenu{
    color: #000;
    font-size: 0.8rem;
}

.container{
    padding: 1vh 2vw;
}

span::before{
    float: right;
}
.viewCnt{
    position: relative;
    display: none;
}
.card{
    font-size: 1.2rem;
    letter-spacing: 1.1;
}
.showMe{
    display: block;
}
#otherStoreInput{
    display: none;
}
.stores{
    width: fit-content;
    margin: 1vh 0 1vh auto;
}

span.radioSpan::before{
    display: block !important;
    position: relative !important;
    
}
span.radioSpan{
    display: block !important;
    color: #000;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
    border: 8px solid #26a69a !important;
}
span::after{
    width: 0px !important;
    position: relative !important;
    display: none !important;
    border: 8px solid #26a69a !important;
}

.g-recaptcha{
    margin: 2vh auto;
}
.msg{
    text-align: center;
    padding: 0.5vh 1vw;
    font-size: 1.2rem;
    margin: 0 auto;
    border: 4px solid var(--info-color);
    background: var(--info-color);
    color: #fff;
}
.deleteButton{
    display: inline;
}
.page-footer{
    padding-top: 0px !important;
}
#newForm{
    color: #000;
    display: block;
}
#repairCost{
    width: min-content;
}
#labSubmit{
    width:100% ;
}
#labUpdates{
    padding-right: 1vw;
    padding-left: 1vw;
}
.datepicker{
    text-align: right;
    width: max-content !important;
}

.date{
    direction: ltr;
}
.tab{
    text-align: right;
}

.numbers{
    direction: ltr;
}

.closeCard{
    cursor: pointer;
}

.closeCard:hover{
    color: var(--info-color);
}

.updateListItem:nth-child(odd){
    background: #ccc;
}

@media (max-width: 666px){
    #regBTN{
        grid-area: profile;
        width: fit-content;
        position: relative;
        margin: auto 0vw auto 0vw;
    }
}