:root{
    --primary-color: #232323;
}
html, body{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    direction: rtl;
}
.navGrid{
    height: 10vh;
    background: var(--primary-color);
    padding: 0vh 2vw;
    display: grid;
    grid-template-areas: 'brand space profile';
    grid-template-columns: 2fr 3fr 5fr;
}
.navGrid img {
    height: 10vh;
}
.brand{
    grid-area: brand;
    margin: 1vh auto;
    width: 100%;
}
.profile{
    grid-area: profile;
    font-size: 1.5rem;
    margin: 1vh auto;
}
.navItem{
    height: 100%;
    color: #fff;
    text-decoration: none;
    margin: 1vh 1vw;
}

.container{
    padding: 1vh 5vw;
}

span::before{
    float: right;
}
.viewCnt{
    position: relative;
    display: none;
}
.card{
    font-size: 1.2rem;
    letter-spacing: 1.1;
}
.showMe{
    display: block;
}
#otherStoreInput{
    display: none;
}
.stores{
    width: fit-content;
    /* padding: 0vh 1vw 1vh 1vw; */
    /* border: 1px solid var(--primary-color); */
    margin: 1vh 0 1vh auto;
}

span.radioSpan::before{
    display: block !important;
    position: relative !important;
    
}
span.radioSpan{
    display: block !important;
    color: #000;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
    border: 8px solid #26a69a !important;
}
span::after{
    width: 0px !important;
    position: relative !important;
    display: none !important;
    border: 8px solid #26a69a !important;
}


